In [3]:
#import all the useful libraries
import pandas as pd
import requests #handles files from websites. Data dumps
import json

In [11]:
#csv
csv_url = '/boston_house_prices.csv'
df_csv = pd.read_csv(csv_url, skiprows=1)
print(df_csv.shape) #get the number of rows and columns
print("First few rows of the excel data:")
print(df_csv.head())#print the top of the data

(506, 14)
First few rows of the excel data:
      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [12]:
# Excel
excel_url = '/content/drive/MyDrive/Colab Notebooks/WEEK 2/Employee Data.xlsx'
df_excel = pd.read_excel(excel_url)
print("Last Few rows of the Excel Data:")
print(df_excel.tail())

Last Few rows of the Excel Data:
       EEID       Job Title  Department        Business Unit  Gender  \
995  E03094     Sr. Analyst   Marketing  Speciality Products    Male
996  E01909         Analyst     Finance  Speciality Products  Female
997  E04398        Director   Marketing  Speciality Products    Male
998  E02521     Sr. Analyst     Finance  Speciality Products  Female
999  E03545  Vice President  Accounting            Corporate  Female

     Ethnicity  Age  Hire Date  Annual Salary  Bonus %        Country  \
995  Caucasian   33 2016-09-18          98427     0.00  United States
996      Asian   44 2010-05-31          47387     0.00          China
997      Asian   31 2019-06-10         176710     0.15  United States
998      Asian   33 2012-01-28          95960     0.00          China
999      Asian   63 2020-07-26         216195     0.31  United States

         City  Exit Date
995  Columbus        NaT
996   Chengdu 2018-01-08
997     Miami        NaT
998   Chengdu        NaT
999     Miami        NaT

In [16]:
#TXT
import requests
txt_url = 'https://www.gutenberg.org/files/1342/1342-0.txt'
response = requests.get(txt_url)
print(type(response)) #the actual type of data
txt_data = response.text
print(type(txt_data)) #the convereted type as string done by the library
print("First 200 characters of the TXT Data")
print(txt_data[:200]) #print first 200 characters

<class 'requests.models.Response'>
<class 'str'>
First 200 characters of the TXT Data
*** START OF THE PROJECT GUTENBERG EBOOK 1342 ***




                            [Illustration:

                             GEORGE ALLEN
                               PUBLISHER

In [18]:
#JSON
import json

#opening a json file
f = open('/content/drive/MyDrive/Colab Notebooks/WEEK 2/sample_users_with_id.json')
#returns JSON object as a dictionary
data = json.load(f)
#Iterating through the json
given_names = [user["given_name"] for user in data if "given_name" in user]
#print the names
print(given_names)
#closing file
f.close()

['Hello', 'Hello1', 'John', 'Jane', 'Dummy']